.buttonstyle {
   
    font-size: xx-large;
    color: rgb(208, 255, 0);
    background: black;
    box-shadow: gray;
    border-width: inherit;
    align-self: center;
    width: 300px;
    height: 75px;
    background: #18181b;
    border-width: thin;
    cursor: pointer;
}

.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    flex-flow: column;

}
.Aligner-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.Aligner-item--fixed {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    max-width: 50%;
}
   

 

