#flex-container-Title {
    display: flex;
    flex-direction: row;
    width: 580px;
    border: 1px grey solid;
    margin: 5px auto;
}

#flex-container-Number {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width:140px;
    border: 1px grey solid;
    margin: 5px auto;
    text-align: center;
}

.flex-item-number {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    display: flex;
    border: 1px black solid;
    background: black;
}

.flex-item {
    text-align: center;
    width: 270px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px black solid;
    background: black;
}