<div id="flex-container-Title">
  <div class="flex-item" style=" font-size: 35px;">
    <div style="font-size: 25px; color:white">Today's</div>
    <div id="flex-container-Number">
      <div class="flex-item-number" style=" font-size: 35px; color:whitesmoke">
        <div (click)="data('opened', 1)" style=" font-size: 35px; color: orangered; margin-right: 5px; cursor: pointer;">
          {{ todayCount }}
        </div>
        -
        <div (click)="data('closed', 1)" style=" font-size: 35px; color: greenyellow;margin-left: 5px; cursor: pointer;">{{ todayCloseCount }}</div>
      </div>
    </div>
  </div>
  <div class="flex-item" style=" font-size: 35px;">
    <div style="font-size: 25px; color:white">Last 7 days</div>
    <div id="flex-container-Number">
      <div class="flex-item-number" style=" font-size: 35px; color:whitesmoke">
   
          <div  (click)="data('opened', 7)" style=" font-size: 35px; color: orangered; margin-right: 5px ; cursor: pointer;">{{ weekCount }}</div>
        -
       
          <div  (click)="data('closed', 7)" style=" font-size: 35px; color: greenyellow;margin-left: 5px ; cursor: pointer;">{{ weekCloseCount }}</div>
      </div>
    </div>
  </div>
  <div class="flex-item" style=" font-size: 35px;">
    <div style="font-size: 25px; color:white">Last 30 Days</div>
    <div id="flex-container-Number">
      <div class="flex-item-number" style=" font-size: 35px; color:whitesmoke">

          <div (click)="data('opened', 30)" style=" font-size: 35px; color: orangered; margin-right: 5px; cursor: pointer;">{{ count }}</div>
        -
       <div (click)="data('closed', 30)" style=" font-size: 35px; color: greenyellow;margin-left: 5px; cursor: pointer;">{{ closeCount }}</div>
        
      </div>
    </div>
  </div>
</div>
