#flex-container {
    display: flex;
    flex-direction: column;
   
    margin: 5px auto;
    height:100%;
    width: 100%;
    overflow: auto;
}

.flex-item {
    margin-left: 2px;
    width: 90%;
    height: 50px;
    display: block;
    font-size: 20px; 
    color: lightblue ;
}