<div id="flex-container" style="width:300px;">
  <div div class="flex-item" style="font-size: 25px; color:white"> Active Developers </div>
  <div *ngFor="let dev of developers;  let i = index">
      <div div class="flex-item" (click)="data(dev)" style="vertical-align:center; align-content: flex-end ; cursor: pointer;">
        <div style="display: flex; direction: row;">
          <img src="{{avatar[i]}}" style="height:50px; width:50px;  margin-right: 7px;   border-radius: 50%;" />
          <div style="margin-top:8px">{{dev}}</div>
          
        </div>
      </div>
  </div>
</div>


