<div style="background-color: magenta; color: white; width:100%;height:100%; display:flex; flex-direction:column; align-content: center">
  <div name="TopMenu" style="background-color:rgb(39, 120, 202); width:100%;display:flex; flex-direction:row;justify-content: center;"></div>
  <div name="wrapper" style="background-color:black; width:100%; height: 100%;  display:flex;flex-direction: row">
    <div name="leftNav" style="width: auto; display:inline-block;flex-direction: row">
      <app-org-list></app-org-list>
    </div>
    <div name="contentarea">
      <div id="flex-column-container">
        <div class="flex-item" style="margin-top:12px">
          <app-pull-request-count></app-pull-request-count>
        </div>
        <div class="flex-item">
          <div id="flex-row-container">
            <div class="flex-item">
              <app-top-developers></app-top-developers>
            </div>
            <div class="flex-item">
              <app-top-repository></app-top-repository>
            </div>
            <div class="flex-item">
              <app-dev-pull-details></app-dev-pull-details>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Content Area-->
  </div>
  <!-- wrapper-->
</div>
