#flex-container {
    display: flex;
    flex-direction: column;
    margin: 2px auto;
    height:100%;
    overflow: auto;
    width: 100%;

    
}

.flex-item {
    margin: 2px;
    width: 500px;
    height: auto;
    display: block;
    border-top: none;
    border-color: black;
    border-bottom-width: thin;
  
}